<footer id="legal" aria-label="Mentions légales">
    <div class="container">
        <span class="hz-separator"></span>
        <p class="references">
            <a href="https://formations.hunkaar.fr/carte-hypnotherapeutes/" target="_blank">
                <span class="sr-friendly">Praticien certifié Hunkaar</span>
                <img src="/img/hunkaar.png" alt="" height="80px">
            </a>
            <a href="https://ffhtb.fr/praticiens-certifies/?page=c" target="_blank">
                <span class="sr-friendly">Praticien certifié par la Fédération Française d’Hypnose et de Thérapie Brève</span>
                <img class="thumbnail" src="/img/ffhtb.jpg" alt="" height="80px">
            </a>
            <a href="https://psynapse.fr/" target="_blank">
                <span class="sr-friendly">Praticien certifié Psynapse</span>
                <img class="thumbnail" src="/img/psynapse.png" alt="" height="80px">
            </a>
            <a href="https://www.nanteshypnose.fr" target="_blank">
                <span class="sr-friendly">Membre de l'association Nantes Hypnose</span>
                <img class="thumbnail" src="/img/nantes-hypnose.png" alt="" height="80px">
            </a>
        </p>
        <p class="text-left">
            <small>
                <br /><em>SIRET:</em> 515 053 908 00031
                <br /><em>Assurance Medinat:</em> MDNA25679
            </small>
        </p>
    </div>
</footer>

<script src="/js/home.min.js"></script>

<script src="/vendors/gumshoe.min.js" async defer></script>
<link rel="stylesheet" type="text/css" href="/vendors/baguetteBox.min.css">
<script src="/vendors/baguetteBox.min.js" async defer></script>
