<footer>
    <span class="hz-separator"></span>
        <p class="references">
            <a href="https://formations.hunkaar.fr/carte-hypnotherapeutes/" target="_blank">
                <img src="/img/hunkaar.png" alt="Praticien certifié Hunkaar" height="64px">
            </a>
            <a href="https://ffhtb.fr/praticiens-certifies/?page=c" target="_blank">
                <img class="thumbnail" src="/img/ffhtb.jpg" alt="Praticien certifié par la Fédération Française d’Hypnose et de Thérapie Brève" height="64px">
            </a>
            <a href="https://psynapse.fr/" target="_blank">
                <img class="thumbnail" src="/img/psynapse.png" alt="Praticien certifié Psynapse" height="64px">
            </a>
            <a href="https://www.nanteshypnose.fr" target="_blank">
                <img class="thumbnail" src="/img/nantes-hypnose.png" alt="Membre de l'association Nantes Hypnose" height="64px">
            </a>
        </p>
        <p class="text-center">
            <a href="/legal">Mentions légales</a>
        </p>
</footer>

<script src="/js/home.js"></script>
<script src="/vendors/gumshoe.min.js" async defer></script>
<link rel="stylesheet" type="text/css" href="/vendors/baguetteBox.min.css">
<script src="/vendors/baguetteBox.min.js" async defer></script>
