{{ "<!-- Footer -->" | safeHTML}}
  <footer id="footer">
    <ul class="icons">
      {{ range .Site.Params.links }}
      {{ $pack := or .icon_pack "fa" }}
        <li>
          <a href="{{ .link | safeURL }}" target="_blank" aria-label="{{ .service }}"><i class="icon {{ $pack }} {{ .icon }}"><span class="label">{{ .service }}</span></i></a>
        </li>
      {{ end }} {{/* range */}}
    </ul>
    <ul class="copyright">
      {{- range .Site.Params.Footer.copyright -}}
      <li>{{ . | markdownify }}</li>
      {{- end -}}
    </ul>

    <p>
      <ul class="icons">
        <li>
          <a href="https://formations.hunkaar.fr/carte-hypnotherapeutes/" target="_blank">
            <img src="/img/hunkaar.png" alt="Praticien certifié Hunkaar" height="64px">
          </a>
        </li>
        <li>
          <a href="https://ffhtb.fr/praticiens-certifies/?page=c" target="_blank">
            <img class="thumbnail" src="/img/ffhtb.jpg" alt="Praticien certifié par la Fédération Française d’Hypnose et de Thérapie Brève" height="64px">
        </a>
        </li>
        <li>
          <a href="https://psynapse.fr/" target="_blank">
            <img class="thumbnail" src="/img/psynapse.png" alt="Praticien certifié Psynapse" height="64px">
        </a>
        </li>
        <li>
          <a href="https://www.nanteshypnose.fr" target="_blank">
            <img class="thumbnail" src="/img/nantes-hypnose.png" alt="Membre de l'association Nantes Hypnose" height="64px">
        </a>
        </li>
      </ul>
    </p>
  </footer>

</div>
