{{ define "main" }}

<div id="bottom-image" aria-hidden="true"></div>

<!--
    section should have a defined label / title
    aria-labelledby must point to an existing id
-->
<section id="hypnose" aria-labelledby="hypnose-title" class="top-section">
  <div class="container">
    <div class="sub-container">

      <h2 id="hypnose-title" class="text-center">L'hypnose, en quelques mots</h2>

      <span class="hz-separator"></span>

      <p class="text-justify">
        L'hypnose est un état <em>naturel</em> accessible à <em>TOUS</em> et que l'on peut <em>déclencher</em> chez un sujet <em>volontaire</em>.
        Le subconscient peut alors s'exprimer plus librement et
        répondre aux questions concernant ce qu'il se passe <i>à l'intérieur</i>
        afin de <em>résoudre les conflits inconscients</em>.
      </p>

      <p class="text-justify">
        La personne en transe n'est <em>ni inconsciente, ni manipulable à souhait</em>.
        Dans une relation de <em>confiance</em> et de <em>coopération</em> avec l'hypnotiseur,
        elle se laisse <em>glisser</em> dans un état de réactions automatiques aux suggestions,
        tout en conservant sa capacité à <em>reprendre le contrôle</em> et <em>s'y soustraire</em> si elle le souhaite.
      </p>

      <p aria-hidden="true" class="action-jumpNext">
        <a data-smooth-scroll href="#indications" class="btn btn-xl btn-secondary">Indications</a>
      </p>

    </div>
  </div>
</section>


<section id="indications" aria-labelledby="indications-title" class="top-section">
  <div class="container">
    <div class="sub-container">

      <h2 id="indications-title" class="text-center">Indications</h2>

      <span class="hz-separator"></span>

      <p class="text-justify">
        L'hypnose est indiquée pour la <em>déprogrammation de comportements</em>,
        la <em>libération d'émotions refoulées</em>,
        la gestion de <em>traumatismes</em>,
        de <em>deuils</em>,
        de <em>phobies</em>,
        de <em>douleurs chroniques</em> et plus généralement de <em>troubles psychosomatiques</em> divers.
      </p>

      <p class="text-justify">
        La pratique de l'hypnose n'est <em>ni de la médecine</em>,
        <em>ni de la psychothérapie</em>:
        <em>il ne sera pas fait de diagnostic</em>.
      </p>

      <p class="text-justify">
        En cas de pathologie connue,
        consultez votre thérapeute <em>avant</em> d'entamer les séances afin de vous assurer qu'il n'y a pas de contre-indications.
        Je m'engage pour ma part,
        <em>dans votre intérêt</em>,
        à écourter toute séance qui me semblerait montrer un signe manifeste de contre-indication <em>sans vous la facturer</em>.
      </p>

      <p class="text-justify">
        Les séances d'hypnose <em>ne sauraient se substituer à un suivi thérapeutique existant</em>:
        <strong class="notice">n'interrompez JAMAIS un traitement ou un suivi sans en faire part à votre thérapeute</strong>.
      </p>


      <p aria-hidden="true" class="action-jumpNext">
        <a data-smooth-scroll href="#deroulement" class="btn btn-xl btn-secondary">Déroulement</a>
      </p>

    </div>
  </div>
</section>


<section id="deroulement" aria-labelledby="deroulement-title" class="top-section">
  <div class="container">
    <div class="sub-container">

      <h2 id="deroulement-title" class="text-center">Déroulement</h2>

      <span class="hz-separator"></span>

      <p class="text-justify">
        Si le client n'a jamais fait d'hypnose <em>avec moi</em>,
        nous faisons ensemble une première <em>séance ludique</em> pour le familiariser avec cet état et obtenir les outils dont nous avons besoin.
      </p>

      <p class="text-justify">
        Une fois familiarisé avec l'hypnose,
        le client est mis en transe pour que je puisse interroger son subconscient.
        Il ne s'agit pas de suggérer la disparition d'un symptôme sans en comprendre la cause,
        mais de trouver une résolution convenable à sa cause pour qu'il devienne inutile et puisse disparaître.
        Il arrive que l'on soit amené à <em>revivre des souvenirs traumatiques</em> et <em>libérer des émotions refoulées</em>:
        <strong class="notice">il ne s'agit pas de séances de relaxation</strong>.
      </p>

      <p class="text-justify">
        À chaque fin de séance,
        un temps est pris pour répondre aux questions et s'assurer que la personne est bien réveillée en repartant du cabinet.
        Il est recommandé de ne pas reprendre la route ou le travail dans la foulée,
        certaines séances pouvant être fatigantes et nécessiter de prendre un petit temps pour soi.
      </p>

      <p class="text-justify">
        L'hypnose est souvent présentée comme une thérapie un peu magique qui règle tous les soucis en deux séances,
        malheureusement <em>c'est une vision fausse</em> qui provoque chez les clients une attente irréaliste et de nombreuses déceptions.
        Le nombre de séances dépend de <em>la technique de l'hypnotiseur</em>,
        du <em>niveau de coopération</em> du sujet,
        mais aussi de <em>ce qui provoque la demande</em>:
        derrière une même phobie peuvent aussi bien se cacher <em>une seule ou plusieurs causes</em>
        chez deux personnes différentes.
        <em>Il n'y a pas de généralités mais uniquement du cas par cas</em>.
      </p>

      <p aria-hidden="true" class="action-jumpNext">
        <a data-smooth-scroll href="#tarifs" class="btn btn-xl btn-secondary">Tarifs</a>
      </p>

    </div>
  </div>
</section>


<section id="tarifs" aria-labelledby="tarifs-title" class="top-section">
  <div class="container">
    <div class="sub-container">

      <h2 id="tarifs-title" class="text-center">Tarifs</h2>

      <span class="hz-separator"></span>

      <p class="text-justify">
        Le <em>tarif normal</em> est de <em>60 EUR</em> pour la première séance et de <em>90 EUR</em> pour les séances suivantes.
      </p>

      <p class="text-justify">
        Le <em>tarif réduit</em> pour les <em>étudiants</em> et <em>personnes en situation précaire</em> est de <em>50 EUR</em> sur présentation d'un justificatif.
      </p>

      <p class="text-justify">
        Le règlement s'effectue <em>à chaque fin de séance</em>,
        de préférence par <em>carte bancaire</em>,
        mais également par <em>chèque</em> ou <em>espèces</em>.
        Des arrangements sont possibles pour différer l'encaissement des chèques.
      </p>

      <p class="text-justify">
        Une facture est disponible <em>pour chaque séance</em> et peut être envoyée par e-mail sur simple demande.
      </p>

      <p>&nbsp;</p>
      <hr />
      <p>&nbsp;</p>

      <p class="text-justify">
        En échange d'une <em>autorisation de filmer</em>,
        je réalise des <strong class="notice">séances gratuitement</strong> et m'engage à l'écrit à ce que ne soient publiés que des extraits ne permettant pas l'identification du sujet.
      </p>

      <p class="text-justify">
        Ces séances sont strictement équivalentes aux séances payantes.
      </p>



      <p aria-hidden="true" class="action-jumpNext">
        <a data-smooth-scroll href="#contact" class="btn btn-xl btn-secondary">Contact</a>
      </p>

    </div>
  </div>
</section>


<section id="contact" aria-labelledby="contact-title" class="top-section">
  <div class="container">
    <div class="sub-container">

      <h2 id="contact-title" class="text-center">Contact</h2>

      <span class="hz-separator"></span>

      <p class="text-justify">
        La prise de rendez-vous se fait par <a class="p-tel" href="tel:07.66.397.394">téléphone</a>,
        <a class="p-tel" href="sms:07.66.397.394">texto</a> ou <a class="u-email" href="mailto:gilles@hypno.cat">e-mail</a>.
      </p>

      <p class="text-justify">
        S'il s'agit d'une <em>première séance</em> avec moi,
        elle est <em>obligatoirement</em> précédée d'un entretien téléphonique <em>avec la personne concernée</em>.
        Durant cet échange,
        je m'assure que votre demande <em>entre dans mon champs de compétences</em>,
        que ma <em>méthodologie vous convient</em>,
        et je prends le temps de <em>répondre à toutes vos interrogations</em> pour pouvoir aborder la première séance sereinement.
      </p>

      <p class="text-justify">
        Les séances ont lieu au centre de bien-être <a href="https://www.facebook.com/lapepinierenantes" target="_blank"><em>La Pépinière</em></a>
        ou au centre de bien-être <a href="https://www.facebook.com/chezjoia.fr" target="_blank"><em>Chez Joïa</em></a>.
        Dans <em>certains cas</em>,
        les séances peuvent avoir lieu en déplacement à domicile,
        mais je n'accepte qu'au cas par cas en fonction de la raison et un surcoût est à prévoir.
      </p>

      <p class="text-justify">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <a href="https://www.facebook.com/lapepinierenantes" target="_blank"><em>La Pépinière</em>, 7 Place des Enfants Nantais, 44000 Nantes</a>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <iframe height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="embedded-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9199.840369957794!2d-1.5572093097959259!3d47.21721536905306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ee93900e8d17%3A0xde27404835c5ebc!2s7%20Place%20des%20Enfants%20Nantais%2C%2044000%20Nantes!5e0!3m2!1sen!2sfr!4v1601072637997!5m2!1sen!2sfr"></iframe>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <a href="https://www.facebook.com/chezjoia.fr" target="_blank"><em>Chez Joïa</em>, 62 Boulevard Jean Ingres, 44100 Nantes</a>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <iframe height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="embedded-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.732816159182!2d-1.6039440476702038!3d47.22180997905885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805edda4c263f49%3A0x4da268c8f48819ef!2s62%20Bd%20Jean%20Ingres%2C%2044100%20Nantes!5e0!3m2!1sen!2sfr!4v1645174305596!5m2!1sen!2sfr"></iframe>
              </div>
            </div>
          </div>
        </div>
      </p>

      
      <!--
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="thumbnail" height="400px" width="100%" src="/img/photos/pepiniere.jpeg" alt="">
            <div class="carousel-caption d-none d-md-block">
              <h5>Cabinet "La pépinière"</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="thumbnail" height="400px" width="100%" src="/img/photos/joia.jpeg" alt="">
            <div class="carousel-caption d-none d-md-block">
              <h5>Cabinet "Chez Joïa"</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      -->

      <p class="text-justify">
        En cas d'annulation,
        merci de prévenir <em>au moins 48 heures</em> avant notre rendez-vous afin que je puisse réaffecter le créneau à une autre personne.
        Dans le cas contraire,
        je ne considèrerai pas la séance comme dûe,
        mais je refuserai de vous recevoir à l'avenir si l'annulation n'est pas justifiée.
      </p>

      <div class="action-contact">
        <div class="contact contact-phone">
          <i class="icon icon-phone"></i>
          <span class="sr-friendly">Téléphone</span>
          <a class="p-tel" href="tel:07.66.397.394">07.66.397.394</a>
        </div>

        <div class="contact contact-mail">
          <i class="icon icon-mail"></i>
          <span class="sr-friendly">Mél</span>
          <a class="u-email" href="mailto:gilles@hypno.cat">gilles@hypno.cat</a>
        </div>
      </div>

      <p aria-hidden="true" class="action-jumpNext">
        <a data-smooth-scroll href="#parcours" class="btn btn-xl btn-secondary">Parcours</a>
      </p>

    </div>
  </div>
</section>


<section id="parcours" aria-labelledby="parcours-title" class="top-section">
  <div class="container">
    <div class="sub-container">

      <h2 id="parcours-title" class="text-center">Parcours</h2>

      <span class="hz-separator"></span>

      <p class="text-justify">
        <div class="cols-group">
          <div class="mugshot">
            <img height="224" width="175" src="/img/gilles.scaled.min.png" alt="Photo de Gilles Chehade" />
          </div>
            <ol class="list-group" style="width: 100%">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Autodidacte</div>
                  Nantes
                </div>
                <span class="badge bg-primary rounded-pill">2015</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Technicien en Hypnose Ericksonienne</div>
                  Psynapse, Rennes
                </div>
                <span class="badge bg-primary rounded-pill">2016</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Certification de compétence Street Hypnose</div>
                  Street-Hypnose, Toulouse
                </div>
                <span class="badge bg-primary rounded-pill">2016</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Certification de Praticien en Hypnose Ericksonienne</div>
                  Psynapse, Rennes
                </div>
                <span class="badge bg-primary rounded-pill">2016</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Certification de compétence Hypnose Générale</div>
                  Street-Hypnose, Toulouse
                </div>
                <span class="badge bg-primary rounded-pill">2017</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Formation Hypnose et douleurs</div>
                  Hunkaar, Toulouse
                </div>
                <span class="badge bg-primary rounded-pill">2017</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Formation Hypnose Expérimentale</div>
                  Street-Hypnose, Toulouse
                </div>
                <span class="badge bg-primary rounded-pill">2018</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Formation à la communication avec l'inconscient</div>
                  Hunkaar, Toulouse
                </div>
                <span class="badge bg-primary rounded-pill">2018-2019</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Certification de Praticien en Hypnose méthode Hunkaar</div>
                  Hunkaar, Toulouse
                </div>
                <span class="badge bg-primary rounded-pill">2020</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Stage d'hypnose ludique</div>
                  Nantes-Hypnose, Nantes
                </div>
                <span class="badge bg-primary rounded-pill">2021</span>
              </li>
            </ol>
        </div>
      </p>

      <p class="text-justify">
        Dans une optique d'<em>amélioration continue</em>,
        j'échange régulièrement avec différents praticiens pour <em>confronter nos pratiques</em>,
        que ce soit par des <em>discussions informelles</em> ou de <em>supervisions</em>.
        Je continue également à me former par le biais d'ouvrages et par l'analyse de techniques.
      </p>

      <!-- <p aria-hidden="true" class="action-jumpNext">
        <a data-smooth-scroll href="#legal" class="btn btn-xl btn-secondary">Mentions légales</a>
      </p> -->

    </div>
  </div>
</section>
{{ end }}