
<!DOCTYPE html>
<html lang="ca">
<head>
  <title>hypno.cat</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="og:image" content="/img/hypnocat.jpg">
  <meta name="twitter:image" content="/img/hypnocat.jpg">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="/css/home.css" />
</head>
<body id="page-top">

  <header id="top-header">
    <a data-smooth-scroll href="#main-content" tabindex="1" class="sr-friendly focus-reveal">Aller au contenu</a>

    <div class="container">
      <h1 class="main-brand"><a data-smooth-scroll href="#page-top">HYPNO.CAT</a></h1>

      <nav role="navigation">
        <button type="button" class="foldable-toggle" aria-controls="main-nav" aria-expanded="false">
          <i aria-hidden="true" class="icon icon-bars"></i>
          <span class="sr-friendly">Navigation</span>
        </button>
        <div id="main-nav" class="foldable-element foldable-ephemeral">
          <div class="nav-group sections">
            <span class="sr-friendly group-label">Sections</span>
            <ul class="naked-list">
              <li><a data-smooth-scroll class="nav-option" href="#hypnose">Hipnosi</a></li>
              <li><a data-smooth-scroll class="nav-option" href="#indications">Indicacions</a></li>
              <!--
              <li><a data-smooth-scroll class="nav-option" href="#questions">Questions</a></li>
              -->
            </ul>
          </div>
          <div class="nav-group l10n">
            <span class="sr-friendly group-label">Langues</span>
            <ul class="naked-list">
            <!--
              links to other localizations
              - `lang` attribute states the locale for the link label
              - `hreflang` attribute states the locale of target page
            -->
              <!--
              <li><a lang="fr" hreflang="fr" class="nav-option" href="">Français</a></li>
              -->
              <li><a lang="fr" hreflang="fr" class="nav-option" href="/">Français</a></li>
              <li class="active"><span class="nav-option">Català</span></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>


  <!--
    section tags are relevant to a11y DOM tree
    But if element is to be ignored by assistive tech, then a div tag will do good enough.
  -->
  <div id="hero" aria-hidden="true">
    <p aria-hidden="true" class="action-jumpNext">
      <a data-smooth-scroll href="#hypnose" class="btn btn-xl btn-primary">Entrar</a>
    </p>
  </div>


  <main id="main-content">

    <div id="bottom-image" aria-hidden="true"></div>

    <!--
        section should have a defined label / title
        aria-labelledby must point to an existing id
    -->
    <section id="hypnose" aria-labelledby="hypnose-title"  class="top-section">
      <div class="container">
        <div class="sub-container">

          <h2 id="hypnose-title" class="text-center">Hipnosi, en poques paraules</h2>

          <span class="hz-separator"></span>

          <img src="/img/felix.resized.min.png" height="430" width="330" alt="" class="side-img" />

          <p class="text-justify">
            La hipnosi és un estat <em>naturalment</em> accessible per a <em>TODES</em> i que es pot <em>desencadenar mitjançant la tècnica</em> en un subjecte <em>voluntari</em>.
            El subconscient ocupa llavors més espai i pot expressar-se amb més llibertat,
            ja sigui en un context lúdic o terapèutic.
            La hipnosi obre un </em>canal de comunicació</em> amb el subconscient,
            que permet qüestionar-lo,
            obtenir respostes sobre el que passa <i>"a l'interior"</i> i <em>resoldre conflictes inconscients</em>.
          </p>

          <p class="text-justify">
            El subjecte en tràngol <em>no és inconscient ni manipulable a voluntat</em>.
            Es troba en una relació de <em>confiança</em> i <em>cooperació</em> amb l’hipnotitzador,
            que es troba en un estat de reaccions automàtiques als suggeriments,
            tot conservant la capacitat de <em>recuperar el control</em> i <em>retirar-se’n si vol</em>.
            Si el subjecte <em>decideix</em> resistir-se per demostrar-se que és més fort,
            <em>no hi pot haver sessió</em>.
          </p>

          <p class="text-justify">
            La hipnosi es presenta sovint com una teràpia una mica màgica que permet resoldre totes les preocupacions en dues sessions,
            per desgràcia <em>és una visió falsa</em> que provoca expectatives poc realistes i moltes decepcions en els clients.
            El nombre de sessions depèn de <em>la tècnica de l'hipnotitzador</em>,
            del <em>nivell de cooperació</em> del subjecte,
            però també de <em>què causa la sol·licitud</em>:
            darrere de la mateixa fòbia també pot ocultar <em>una o més causes</em> en dues persones diferents.
            <em>No hi ha generalitats, sinó només cas per cas</em>.
          </p>

          <p aria-hidden="true" class="action-jumpNext">
            <a data-smooth-scroll href="#indications" class="btn btn-xl btn-secondary">Indicacions</a>
          </p>

        </div>
      </div>
    </section>


    <section id="indications" aria-labelledby="indications-title" class="top-section">
      <div class="container">
        <div class="sub-container">

          <h2 id="indications-title" class="text-center">Indicacions</h2>

          <span class="hz-separator"></span>

          <p class="text-justify">
            La hipnosi està especialment indicada per a la <em>desprogramació de la conducta</em>,
            l'<em>alliberament d'emocions reprimides</em>,
            el tractament de <em>traumes</em>,
            <em>dol</em>,
            <em>fòbies</em>,
            <em>dolor crònic</em> i,
            més generalment, <em>trastorns psicosomàtics</em>.
          </p>

          <p class="text-justify">
            La pràctica de la hipnosi no entra en el camp de la medicina ni en el de la psicoteràpia:
            <em>no es farà cap diagnòstic de possibles patologies</em>.
            En cas de patologia coneguda,
            consulteu el vostre terapeuta <em>abans</em> de començar les sessions per assegurar-vos que no hi ha contraindicacions.
          </p>

          <p class="text-justify">
            Finalment,
            les sessions d’hipnosi <em>no poden substituir el seguiment terapèutic existent</em>.
            <strong class="notice">MAI interrompre el tractament o el seguiment sense dir-ho al seu terapeuta</strong>.
          </p>

        </div>
      </div>
    </section>


    <!--
        Like section, footer should have a defined label / title
        If the element does not contain a title element, then a label
        can be explicitly stated with "aria-label"
    -->
    <footer id="legal" aria-label="Legal">
        <div class="container">
            <span class="hz-separator"></span>
            <p class="text-center">
                <a href="/legal">Mentions légales</a>
            </p>
            <p class="references">
                <a href="https://formations.hunkaar.fr/carte-hypnotherapeutes/" target="_blank">
                    <span class="sr-friendly">Praticien certifié Hunkaar</span>
                    <img src="/img/hunkaar.png" alt="" height="50px">
                </a>
                <a href="https://ffhtb.fr/praticiens-certifies/?page=c" target="_blank">
                    <span class="sr-friendly">Praticien certifié par la Fédération Française d’Hypnose et de Thérapie Brève</span>
                    <img class="thumbnail" src="/img/ffhtb.jpg" alt="" height="50px">
                </a>
                <a href="https://psynapse.fr/" target="_blank">
                    <span class="sr-friendly">Praticien certifié Psynapse</span>
                    <img class="thumbnail" src="/img/psynapse.png" alt="" height="50px">
                </a>
                <a href="https://www.nanteshypnose.fr" target="_blank">
                    <span class="sr-friendly">Membre de l'association Nantes Hypnose</span>
                    <img class="thumbnail" src="/img/nantes-hypnose.png" alt="" height="50px">
                </a>
            </p>
        </div>
    </footer>

  </main>

  <script src="/js/home.js"></script>

  <script src="/vendors/gumshoe.min.js" async defer></script>
  <link rel="stylesheet" type="text/css" href="/vendors/baguetteBox.min.css">
  <script src="/vendors/baguetteBox.min.js" async defer></script>
</body>
</html>
