.icon {
    display: inline-block;
    vertical-align: bottom;
}


@mixin svg-icon($icon-id, $scaled-size) {
    $bground-image: url("../img/icons_sheet.svg");
    $ic-indexes: (
        bars,
        mail,
        phone,
    );
    $icon-index: index($list: $ic-indexes, $value: $icon-id) - 1; // index() fn is 1-based....

    // for this case height == width
    $base-width: 28px;
    $base-height: 28px;
    $base-h-gutter: 2px;
    $base-v-gutter: 0;
    $scaled-width: $scaled-size;
    $scaled-height: $scaled-size;

    $scale: min($scaled-width / $base-width, $scaled-height / $base-height);
    $bground-pos-x: 0 - $scale * $icon-index * ($base-width + $base-h-gutter);
    $bground-pos-y: 0;
    // assume gutter is also added past the last icon
    $bground-width: $scale * length($list: $ic-indexes) * ($base-width + $base-h-gutter);
    $bground-height: $scale * $base-height;

    background: $bground-image #{$bground-pos-x} #{$bground-pos-y} / #{$bground-width} #{$bground-height} no-repeat;
}
