//  1. Reset unusual Firefox-on-Android default style;
// see https://github.com/necolas/normalize.css/issues/214
// see https://github.com/necolas/normalize.css/issues/214#issuecomment-23437434
// see https://bugzilla.mozilla.org/show_bug.cgi?id=763671#c78
.btn {
    background-image: none; // 1
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    // `touch-action: manipulation` allows panning and pinch zoom gestures, but
    // disables additional non-standard gestures such as double-tap to zoom
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:active {
        background-image: none;
        outline: 0;
    }

    &[aria-disabled="true"],
    &[disabled],
    fieldset[disabled] & { // stylelint-disable-line selector-no-qualifying-type
        cursor: not-allowed;
    }

    @at-root a.btn {
        text-decoration: none;
    }
}


.btn {
    font-family: $font-sans-serif;
}


.btn-xl {
    border-radius: 300px;
    font-weight: 700;
    outline: none;
    padding: 1rem 2rem;
    text-transform: uppercase;

    &:focus {
        @include box-shadow(
            $spread-radius: 4px,
            $color: $clr-gray-800
        );
    }
}


.btn-primary {
    $btn-bground-color: $clr-primary;
    $btn-text-color: $clr-white;

    background-color: $btn-bground-color;
    color: $btn-text-color;

    &:hover {
        background-color: darken($btn-bground-color, 5%);
    }
}


.btn-secondary {
    $btn-bground-color: $clr-gray-100;
    $btn-text-color: $clr-text-base;

    background-color: $btn-bground-color;
    color: $btn-text-color;

    &:hover {
        background-color: darken($btn-bground-color, 5%);
    }
}
