// stylelint-disable scss/dollar-variable-colon-space-after

//## Named colors

$clr-white:                         #fff;
$clr-gray-100:                      #f8f9fa;
$clr-gray-200:                      #e9ecef;
$clr-gray-300:                      #dee2e6;
$clr-gray-400:                      #ced4da;
$clr-gray-500:                      #adb5bd;
$clr-gray-600:                      #868e96;
$clr-gray-700:                      #495057;
$clr-gray-800:                      #343a40;
$clr-gray-900:                      #212529;
$clr-black:                         #000;

$clr-primary:                       #f05f40;
$clr-notice:                        #f00;


$clr-bground-base:                  $clr-white;
$clr-text-base:                     $clr-gray-900;
$clr-link-base:                     $clr-primary;


// custom fonts are provided by fonts.googleapis.com
$font-serif:                        "Merriweather", "Helvetica Neue", Arial, sans-serif;
$font-sans-serif:                   "Open Sans", "Helvetica Neue", Arial, sans-serif;


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

//# layout breakpoints

// by default assume mobile (max-width: 640px)
$breakpoint-mobile-s:               321px;
$breakpoint-mobile-m:               351px;
$breakpoint-tablet:                 640px;  // 640px  <= W : tablet portrait
$breakpoint-desktop:                1024px; // 1024px <= W : desktop / tablet landscape
$breakpoint-desktop-hd:             1220px; // 1220px <= W : desktop-hd


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

//# placeholders
// to be overwritten during SCSS parsing, hence the `!default` markup

$base-line-height:                  1.15 !default;
$top-header-height-small:           0 !default;
$top-header-height:                 0 !default;


// stylelint-enable
