{{ define "main" }}
{{ "<!-- Main -->" | safeHTML }}
		<section id="main" class="container">
			<header>
				<h2>{{ .Title | title }}</h2>
					<ul class="icons">
						{{ if (.Site.Params.Podcast.google) }}
						<li>
							<a href="{{ .Site.Params.Podcast.google }}" target="_blank"><i class="icon fab fa-android"><span class="label">S'abonner sur Google Podcasts</span></i>S'abonner sur Google Podcasts</a>
						</li>
						{{ end }}
						{{ if (.Site.Params.Podcast.itunes ) }}
							<li>
								<a href="{{ .Site.Params.Podcast.iTunes }}" target="_blank"><i class="icon fab fa-apple"><span class="label">S'abonner sur Apple Podcasts</span></i> S'abonner sur Apple Podcasts</a>
							</li>
						{{ end }}
						{{ if (.Site.Params.Podcast.spotify ) }}
							<li>
								<a href="{{ .Site.Params.Podcast.spotify }}" target="_blank"><i class="icon fab fa-spotify"><span class="label">S'abonner sur Spotify</span></i> S'abonner sur Spotify</a>
							</li>
						{{ end }}
					</ul>
			</header>
			{{ partial "listbody" . }}
	</section>
{{ end }}
